body,
html {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: #333330;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  background: radial-gradient(transparent 65%, rgba(51, 51, 48, 0.1));
  background-size: cover;
}

h1,
h2 {
  font-family: 'Lora', serif;
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.25rem;
}

p {
  line-height: 1.5;
  margin: 1.33rem 0;
}

main {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

article {
  display: flex;
  align-items: center;
  will-change: transform;
  /* transition: transform cubic-bezier(0, 1, 0, 1) 50ms; */
}

.introduction {
  margin: 10vh 10vw;
  width: 32rem;
  height: 80vh;
  flex: 0 0 auto;
}

.introduction aside {
  margin-top: 3rem;
}

@keyframes scroll-indicator {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(100%, 0, 0);
    opacity: 0.25;
  }
}

.scroll-indicator {
  position: relative;
  width: 200px;
  height: 1px;
  margin: 3rem 0;
  overflow: hidden;
}

.scroll-indicator::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #b3b3a8;
  animation: scroll-indicator 2s 1s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.gallery {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery li {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60vw;
  height: 80vh;
  margin: 0 10vw 0 0;
  padding: 10vh 5vw;
}

.gallery-previous,
.gallery-next {
  font-family: 'Lora', serif;
  position: fixed;
  bottom: 5vh;
  transform: translateY(50%);
  font-size: 4rem;
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #333333;
  transition: opacity 0.2s;
  opacity: 0.35;
}

.gallery-previous:hover,
.gallery-next:hover {
  opacity: 1;
}

.gallery-previous {
  left: 10vw;
}

.gallery-next {
  right: 10vw;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: auto;
}

.item-image {
  position: relative;
  flex: 0 0 auto;
  width: auto;
  margin-right: calc(280px + 2rem);
  height: 100%;
  max-width: 1200px;
  max-height: 800px;
  background-color: #eee;
}

@supports (filter: blur(1px)) {
  .item-image-shadow {
    display: none;
    position: absolute;
    left: -0.5rem;
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    background-color: rgba(51, 51, 48);
    filter: blur(2rem);
    /* will-change: transform; */
  }

  .item-image-shadow::before {
    /* content: ''; */
    position: absolute;
    left: -1rem;
    top: 0.5rem;
    right: -1rem;
    bottom: -1.5rem;
    background-color: rgba(51, 51, 48);
    box-shadow: 0 0 2rem -2rem rgba(51, 51, 48);
    opacity: 0.45;
  }

  .item-image-shadow::after {
    /* content: ''; */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: -0.5rem;
    background-color: rgba(51, 51, 48);
    box-shadow: 0 0 2rem -2rem rgba(51, 51, 48);
    opacity: 0.35;
  }
}

.item-image-crop {
  overflow: hidden;
}

.item img {
  position: relative;
  z-index: 2;
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
  height: auto;
  opacity: 1;
  transition: opacity 0.35s ease-in-out;
}

.item img[data-src] {
  opacity: 0;
}

.item figcaption {
  flex: 0 0 auto;
  align-self: flex-end;
  max-width: 280px;
  margin-left: -280px;
}

.item-title {
  margin-bottom: -0.3rem;
}

.item-no-title {
  font-size: 1.5rem;
}

.item-description {
  margin-top: 0.8rem;
  font-weight: 700;
  color: #b3b3a8;
}

.item-size {
  font-weight: 400;
  white-space: nowrap;
}
